[Unit]
Description=BirdNET Hotspot Setup
After=network.target
Before=cron.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/lsd/hotspot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
